<div *ngIf="userService.registrationSuccess" class="panel panel-success">
  <div class="panel-heading">Success</div>
  <div class="panel-body">
    <a routerLink="/users" (click)="resetRegistrationSuccess()">Return to the user list</a>
  </div>
</div>
