<div class="panel panel-info" [hidden]="userService.registrationSuccess">
  <div class="panel-heading">Add User</div>
  <div class="panel-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username"
               [(ngModel)]="model.username" name="username"
               #name="ngModel">
      </div>

      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName"
               [(ngModel)]="model.firstName" name="firstName">
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName"
               [(ngModel)]="model.lastName" name="lastName">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email"
               [(ngModel)]="model.email" name="email">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password"
               [(ngModel)]="model.password" name="password">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="emailValidator()">Submit</button>
    </form>
  </div>
</div>
