<div class="container" id="app-root">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{title}}</h3>
    </div>
    <div class="panel-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

